.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  border-radius: 12px;
  background-color: #efeded;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
   border: #04080b;
  border-radius: 2px;
}
.item-list{
display: flex;
align-items: center;
justify-content: center;

  gap: 1.5rem;
  padding: 1rem;
  border: #04080b;
  border-radius: 2px;
  background-color: rgba(0, 255, 255, 0);
}
.grid-container {
  display: flex;
justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1.5rem;
  width:100 ;
   border: #04080b;
  border-radius: 2px;
  background-color: rgba(127, 255, 212, 0);
}