.auction-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  border-radius: 12px;
  background-color: #7f1d1b;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: #04080b;
  border-radius: 2px;
}
.auction-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  padding: 3rem 2rem;
}